In [23]:
%load_ext autoreload

In [ ]:
%autoreload 2

# Make simple data in spec format

In [2]:
import pandas as pd
import numpy as np

In [9]:
np.random.choice(list(range(1,100)),size=np.random.randint(1,30)).tolist()

[34, 46, 58, 65, 76, 46, 35, 38, 19, 15, 70, 77, 52, 47, 17, 34]

In [42]:
data1 = {'user_id':list(range(71,81))\
         ,'seq_1':[np.random.choice(list(range(1,100)),size=np.random.randint(1,30)).tolist() for _ in range(10)]}

data1 = pd.DataFrame(data1)

data1['seq_sort']=data1.seq_1.str.len()

data1['seq_sort'] = [list(range(1, l+1) )for l in data1['seq_sort']]

In [38]:
data1.head(2)

,user_id,seq_1,seq_sort
0,51,"[1, 64, 94, 92, 62, 72, 28, 26, 81, 26, 90, 57...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]"
1,52,"[45, 5, 51, 81, 4, 13, 24, 30, 90, 77, 76, 3, 61]","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]"

In [43]:
data1.to_parquet('/Users/ltorrick/DS/pqt_dataset/data/pq8.parquet',index=False)

In [44]:
pd.read_parquet('/Users/ltorrick/DS/pqt_dataset/data/')

,user_id,seq_1,seq_sort
0,1,"[80, 73, 57, 36, 48, 71, 65, 37, 98, 29, 59]","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]"
1,2,"[42, 25, 24, 7, 62, 30, 10, 41, 81, 70, 26, 24...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
2,3,"[63, 51, 79, 71, 15, 21, 79, 40, 25, 41, 54, 8...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
3,4,"[98, 40, 89, 66, 83]","[1, 2, 3, 4, 5]"
4,5,"[25, 51, 29, 55, 96, 76, 8, 70, 21, 71, 99, 93...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
...,...,...,...
75,76,"[40, 36, 32, 67, 45, 54, 92, 37, 27, 44, 38, 8...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
76,77,"[93, 38, 11, 27, 17, 54, 28, 52, 56, 18, 59, 8...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
77,78,"[98, 76, 74, 65, 96, 60, 68, 62, 33, 52, 85, 2...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
78,79,[75],[1]
79,80,"[70, 43, 11, 85, 27, 39, 95, 51]","[1, 2, 3, 4, 5, 6, 7, 8]"

In [9]:
import pathlib

In [10]:
data_path = pathlib.Path('/Users/ltorrick/DS/pqt_dataset/data/')
url_list = [item for item in data_path.iterdir() if not item.is_dir()]
url_list = [item.as_uri()  for item in url_list if str(item).endswith('parquet')]

In [13]:
import pandas as pd

In [61]:
for ur in url_list:
    df = pd.read_parquet(ur)   
    df['user_tr_count'] = df.seq_1.str.len()
    df['seq_2_emb'] = df['seq_1']*2
    df['target'] =1  
    df['item_id'] =df['seq_sort']*2
    #df['score_dt_border'] = '2022-01-01'
    df['score_dt_border'] = [['2022-01-01']*l for l in df['user_tr_count']]
    df.to_parquet(ur,index=False)

In [62]:
df = pd.read_parquet(ur)

In [63]:
df

,user_id,seq_1,seq_sort,user_tr_count,target,seq_2_emb,item_id,score_dt_border
0,41,"[96, 13, 19, 85, 74, 36, 22, 28, 47, 34]","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]",10,1,"[192, 26, 38, 170, 148, 72, 44, 56, 94, 68]","[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]","[2022-01-01, 2022-01-01, 2022-01-01, 2022-01-0..."
1,42,"[7, 8, 2, 24, 89, 1, 64, 6, 29, 85, 9]","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]",11,1,"[14, 16, 4, 48, 178, 2, 128, 12, 58, 170, 18]","[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]","[2022-01-01, 2022-01-01, 2022-01-01, 2022-01-0..."
2,43,"[89, 54, 92, 95, 8, 34, 61, 65, 55, 38, 26, 54...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",23,1,"[178, 108, 184, 190, 16, 68, 122, 130, 110, 76...","[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 2...","[2022-01-01, 2022-01-01, 2022-01-01, 2022-01-0..."
3,44,"[55, 29, 42, 48, 58, 76, 14, 42, 36, 59, 77]","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]",11,1,"[110, 58, 84, 96, 116, 152, 28, 84, 72, 118, 154]","[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]","[2022-01-01, 2022-01-01, 2022-01-01, 2022-01-0..."
4,45,"[67, 32, 37, 43, 79]","[1, 2, 3, 4, 5]",5,1,"[134, 64, 74, 86, 158]","[2, 4, 6, 8, 10]","[2022-01-01, 2022-01-01, 2022-01-01, 2022-01-0..."
5,46,"[85, 74]","[1, 2]",2,1,"[170, 148]","[2, 4]","[2022-01-01, 2022-01-01]"
6,47,"[28, 84, 21, 38, 23, 52, 80, 25, 94, 59, 44, 2...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",26,1,"[56, 168, 42, 76, 46, 104, 160, 50, 188, 118, ...","[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 2...","[2022-01-01, 2022-01-01, 2022-01-01, 2022-01-0..."
7,48,"[74, 87, 94, 2, 15, 50, 56, 67, 90, 43, 55, 63...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",18,1,"[148, 174, 188, 4, 30, 100, 112, 134, 180, 86,...","[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 2...","[2022-01-01, 2022-01-01, 2022-01-01, 2022-01-0..."
8,49,"[97, 6, 27, 37, 47, 86, 35, 68, 23, 99, 10, 73...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",16,1,"[194, 12, 54, 74, 94, 172, 70, 136, 46, 198, 2...","[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 2...","[2022-01-01, 2022-01-01, 2022-01-01, 2022-01-0..."
9,50,"[90, 6, 99, 56, 3]","[1, 2, 3, 4, 5]",5,1,"[180, 12, 198, 112, 6]","[2, 4, 6, 8, 10]","[2022-01-01, 2022-01-01, 2022-01-01, 2022-01-0..."

In [12]:
url_list

['file:///Users/ltorrick/DS/pqt_dataset/data/pq8.parquet',
 'file:///Users/ltorrick/DS/pqt_dataset/data/pq1.parquet',
 'file:///Users/ltorrick/DS/pqt_dataset/data/pq3.parquet',
 'file:///Users/ltorrick/DS/pqt_dataset/data/pq2.parquet',
 'file:///Users/ltorrick/DS/pqt_dataset/data/pq7.parquet',
 'file:///Users/ltorrick/DS/pqt_dataset/data/pq6.parquet',
 'file:///Users/ltorrick/DS/pqt_dataset/data/pq4.parquet',
 'file:///Users/ltorrick/DS/pqt_dataset/data/pq5.parquet']

In [49]:
!pip install webdataset==0.1.62

Collecting webdataset==0.1.62
  Downloading webdataset-0.1.62-py3-none-any.whl (32 kB)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from webdataset==0.1.62) (1.23.4)
Collecting braceexpand
  Downloading braceexpand-0.1.7-py2.py3-none-any.whl (5.9 kB)
Installing collected packages: braceexpand, webdataset
Successfully installed braceexpand-0.1.7 webdataset-0.1.62
WARNING: You are using pip version 21.2.4; however, version 23.0.1 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.8/bin/python3 -m pip install --upgrade pip' command.

In [50]:
from contextlib import contextmanager

In [53]:
import urllib.parse

In [54]:
url ='/Users/ltorrick/DS/pqt_dataset/data/pq8.parquet'

In [67]:
url2 ='hdfs:///Users/ltorrick/DS/pqt_dataset/data/pq8.parquet'

In [55]:
uri = urllib.parse.urlparse(url, scheme="file", allow_fragments=False)

In [68]:
uri2 = urllib.parse.urlparse(url2, scheme="file", allow_fragments=False)

In [69]:
uri2

ParseResult(scheme='hdfs', netloc='', path='/Users/ltorrick/DS/pqt_dataset/data/pq8.parquet', params='', query='', fragment='')

In [57]:
uri.scheme in 'file'

True

In [3]:
import sys
sys.path.append('/Users/ltorrick/DS/')

In [4]:
from pqt_dataset.utils.functions import Args, base_conf

In [5]:
params = Args(**base_conf)

# Батч тест

In [67]:
%autoreload 2
from pqt_dataset.webdataset_fork_0162.dataloader import get_dataloader

In [40]:
params.cont_features = ['seq_1']
params.emb_params = {'seq_2_emb':{'vocabulary_size':200, 'dim':8}}
params.target_col = 'target'

In [41]:
params.__dict__

{'emb_params': {'seq_2_emb': {'vocabulary_size': 200, 'dim': 8}},
 'cont_features': ['seq_1'],
 'rnn': {'type': 'GRU',
  'hidden_size': 128,
  'rnn_num_layers': 2,
  'rnn_bias': True,
  'bidirectional': True},
 'ffn': {'hid_linear': 128},
 'seq_len': 256,
 'batch_size': 128,
 'num_workers': 0,
 'device': 'cuda:0',
 'lr': 0.001,
 'weight_decay': 0.01,
 'l1_weight': 0,
 'step_size': 2,
 'gamma': 0.5,
 'fp16': False,
 'clip_value': 1.5,
 'batch_accum': 1,
 'smooth_factor': None,
 'early_stop': {'more_best': True, 'patience': 5},
 'target_col': 'target'}

In [34]:
ur

'file:///Users/ltorrick/DS/pqt_dataset/data/pq5.parquet'

In [68]:
loader = get_dataloader('/Users/ltorrick/DS/pqt_dataset/data/',params, batch_size=4, num_workers=0)

In [44]:
type(loader)

pqt_dataset.webdataset_fork_0162.dataloader.inf_loop

In [69]:
next(iter(loader))

/Users/ltorrick/DS/pqt_dataset/webdataset_fork_0162/dataloader.py:98: UserWarning: The given NumPy array is not writeable, and PyTorch does not support non-writeable tensors. This means you can write to the underlying (supposedly non-writeable) NumPy array using the tensor. You may want to copy the array to protect its data or make it writeable before converting it to a tensor. This type of warning will be suppressed for the rest of this program. (Triggered internally at  ../torch/csrc/utils/tensor_numpy.cpp:189.)
  features[key].append(torch.as_tensor(sample[key]))

{'lengths': [28, 28, 28, 28],
 'item_id': tensor([[ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36,
          38, 40, 42, 44, 46, 48, 50, 52, 54, 56],
         [ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36,
          38, 40, 42, 44, 46, 48, 50, 52, 54, 56],
         [ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36,
          38, 40, 42, 44, 46, 48, 50, 52, 54, 56],
         [ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36,
          38, 40, 42, 44, 46, 48, 50, 52, 54, 56]]),
 'seq_2_emb': tensor([[148,  10,  92,  50,  24, 178, 104, 168, 122, 160, 182,  60,  24, 128,
           98, 110,  56, 130, 116,  26, 148,  22,  16, 142, 128, 148,  86,   8],
         [148,  10,  92,  50,  24, 178, 104, 168, 122, 160, 182,  60,  24, 128,
           98, 110,  56, 130, 116,  26, 148,  22,  16, 142, 128, 148,  86,   8],
         [148,  10,  92,  50,  24, 178, 104, 168, 122, 160, 182,  60,  24, 128,
           98, 110,  56, 130, 116,  26, 148,  22,  16, 142, 128, 148,  86,   8],
         [148,  10,  92,  50,  24, 178, 104, 168, 122, 160, 182,  60,  24, 128,
           98, 110,  56, 130, 116,  26, 148,  22,  16, 142, 128, 148,  86,   8]]),
 'seq_1': tensor([[74.,  5., 46., 25., 12., 89., 52., 84., 61., 80., 91., 30., 12., 64.,
          49., 55., 28., 65., 58., 13., 74., 11.,  8., 71., 64., 74., 43.,  4.],
         [74.,  5., 46., 25., 12., 89., 52., 84., 61., 80., 91., 30., 12., 64.,
          49., 55., 28., 65., 58., 13., 74., 11.,  8., 71., 64., 74., 43.,  4.],
         [74.,  5., 46., 25., 12., 89., 52., 84., 61., 80., 91., 30., 12., 64.,
          49., 55., 28., 65., 58., 13., 74., 11.,  8., 71., 64., 74., 43.,  4.],
         [74.,  5., 46., 25., 12., 89., 52., 84., 61., 80., 91., 30., 12., 64.,
          49., 55., 28., 65., 58., 13., 74., 11.,  8., 71., 64., 74., 43.,  4.]]),
 'user_id': tensor([[71],
         [71],
         [71],
         [71]]),
 'target': tensor([[1],
         [1],
         [1],
         [1]]),
 'user_tr_count': tensor([[28],
         [28],
         [28],
         [28]]),
 'mask': tensor([[False, False, False, False, False, False, False, False, False, False,
          False, False, False, False, False, False, False, False, False, False,
          False, False, False, False, False, False, False, False],
         [False, False, False, False, False, False, False, False, False, False,
          False, False, False, False, False, False, False, False, False, False,
          False, False, False, False, False, False, False, False],
         [False, False, False, False, False, False, False, False, False, False,
          False, False, False, False, False, False, False, False, False, False,
          False, False, False, False, False, False, False, False],
         [False, False, False, False, False, False, False, False, False, False,
          False, False, False, False, False, False, False, False, False, False,
          False, False, False, False, False, False, False, False]])}

# Отладка стриминга

In [65]:
download_schemes = dict(file=file_download, hdfs=hdfs_download)

In [71]:
import os
import io
import urllib.parse
import contextlib
import pyarrow
from contextlib import closing
from webdataset import reraise_exception
from webdataset.shardcache import guess_shard
from webdataset.gopen import gopen_pipe, gopen_file

In [86]:
def hdfs_download(uri, **kwargs):
    if uri.hostname is not None:
        kwargs.update(host=uri.hostname)
    if uri.port is not None:
        kwargs.update(port=uri.port)
    with closing(pyarrow.hdfs.connect(**kwargs)) as hdfs:
        with hdfs.open(uri.path) as stream:
            return stream.read()


def file_download(uri, *args, **kwargs):
    with open(uri.path, mode="rb") as input:
        return input.read()
    
def file_download(uri, *args, **kwargs):
    with open(uri.path, mode="rb") as inp_stream:
        seekable_stream = io.BytesIO(inp_stream.read())
    return seekable_stream

In [70]:
download_schemes[uri2.scheme]

In [72]:
url

'/Users/ltorrick/DS/pqt_dataset/data/pq8.parquet'

In [73]:
pq_file = f'cat {url}'

In [80]:
def file_download_wds(url):
    pq_file = f'pipe:cat {url}'
    with closing(gopen_pipe(pq_file)) as inp_stream:
        seekable_stream = io.BytesIO(inp_stream.read())
    return seekable_stream

In [81]:
def read_parquet(source, columns=None):
    dataframe = pyarrow.parquet.read_table(source=source, columns=columns, use_legacy_dataset=True).to_pandas()
    return dataframe

In [ ]:
def read_parquet(source, columns=None):
    dataframe = pyarrow.parquet.read_table(source=source, columns=columns, use_legacy_dataset=True).to_pandas()
    return dataframe

In [109]:
str(url_list[0])

'/Users/ltorrick/DS/pqt_dataset/data/pq8.parquet'

In [106]:
urllib.parse.urlparse(url_list[0].as_uri(), scheme="file", allow_fragments=False)

ParseResult(scheme='file', netloc='', path='/Users/ltorrick/DS/pqt_dataset/data/pq8.parquet', params='', query='', fragment='')

In [105]:
kk = read_parquet(file_download_wds(url_list[0].as_uri()))

Exception: (('cat file:///Users/ltorrick/DS/pqt_dataset/data/pq8.parquet',), {'shell': True, 'bufsize': 8192}): exit 1 (read) {}

In [83]:
kk

,user_id,seq_1,seq_sort
0,71,"[74, 5, 46, 25, 12, 89, 52, 84, 61, 80, 91, 30...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
1,72,"[36, 99, 38, 92]","[1, 2, 3, 4]"
2,73,"[50, 97, 48, 83, 11, 10, 53, 40]","[1, 2, 3, 4, 5, 6, 7, 8]"
3,74,"[34, 94, 35, 87, 47, 67, 38, 71, 44, 40, 60, 1...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
4,75,"[63, 10, 65, 37, 12, 39, 10, 34, 78, 15, 93, 7...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
5,76,"[40, 36, 32, 67, 45, 54, 92, 37, 27, 44, 38, 8...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
6,77,"[93, 38, 11, 27, 17, 54, 28, 52, 56, 18, 59, 8...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
7,78,"[98, 76, 74, 65, 96, 60, 68, 62, 33, 52, 85, 2...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
8,79,[75],[1]
9,80,"[70, 43, 11, 85, 27, 39, 95, 51]","[1, 2, 3, 4, 5, 6, 7, 8]"

In [84]:
uri

ParseResult(scheme='file', netloc='', path='/Users/ltorrick/DS/pqt_dataset/data/pq8.parquet', params='', query='', fragment='')

In [87]:
kk2 = read_parquet(file_download(uri))

In [88]:
kk2

,user_id,seq_1,seq_sort
0,71,"[74, 5, 46, 25, 12, 89, 52, 84, 61, 80, 91, 30...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
1,72,"[36, 99, 38, 92]","[1, 2, 3, 4]"
2,73,"[50, 97, 48, 83, 11, 10, 53, 40]","[1, 2, 3, 4, 5, 6, 7, 8]"
3,74,"[34, 94, 35, 87, 47, 67, 38, 71, 44, 40, 60, 1...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
4,75,"[63, 10, 65, 37, 12, 39, 10, 34, 78, 15, 93, 7...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
5,76,"[40, 36, 32, 67, 45, 54, 92, 37, 27, 44, 38, 8...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
6,77,"[93, 38, 11, 27, 17, 54, 28, 52, 56, 18, 59, 8...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
7,78,"[98, 76, 74, 65, 96, 60, 68, 62, 33, 52, 85, 2...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
8,79,[75],[1]
9,80,"[70, 43, 11, 85, 27, 39, 95, 51]","[1, 2, 3, 4, 5, 6, 7, 8]"

In [ ]:
def file_download(uri, *args, **kwargs):
    with open(uri.path, mode="rb") as input:
        return input.read()

In [94]:
def read_parquet_2(buf):
    with pyarrow.ipc.open_stream(buf) as reader:
        df = reader.parread_pandas()
    return df

In [90]:
def file_download(uri, *args, **kwargs):
    with open(uri.path, mode="rb") as input:
        return input.read()

In [95]:
kk3 = read_parquet_2(file_download(uri))

ArrowInvalid: Expected to read 827474256 metadata bytes, but only read 3552